<div class="container">
  <div class="newpost">
    <h2>新規投稿</h2>
    <%= form_with model: @question, local: true do |f| %>
      <div class="form-group">
        <p>【質問】</p>
        <p><%= f.text_area :title, rows: 3,class: "form-control" %></p>
        <p>【詳細】</p>
        <p><%= f.text_area :detail, rows: 5,class: "form-control"%></p>
        <%= f.submit "送信", class: "btn btn-primary btn-block", data: {confirm: "新規投稿しますか？"} %>
      </div>
    <% end %>

  <section id="questions">
    <% @questions.each do |question| %>
      <div class="question-container">
        <a href="/questions/<%= question.id%>">
          <div class="question">
            <div class="row">
              <div class="col-md-7">
                <div class="title-container">
                  <p class="title">
                    <%= question.title %>
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="info">
                  <p>質問日&nbsp;&nbsp;&nbsp;&nbsp;<%= question.created_at.strftime('%Y年%m月%d日') %></p>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    <% end %>
  </section>
  </div>
</div>






