<div class="container">
  <div class="error_explanation">
    <% if @solution.errors.any? %>
      <ul>
        <li>【回答】は空欄にできません</li>
      </ul>
    <% end %>
  </div>
    <div class="question">
      <h5>【質問】</h5>
        <%= @question.title %>
      <hr><br>
      <h5>【詳細】</h5>
        <%= markdown(@question.detail).html_safe %>
  
      <hr><br>
        <% @solutions.each do |solution| %>
          <h5>【回答】</h5>
          <%= markdown(solution.answer).html_safe %>
        <% end %>
      <h3>回答投稿</h3>
        <%= form_with model: [@question,@solution], local: true do |f| %>
      <div class="form-group">
        <p>【回答】</p>
        <%= f.text_area :answer, rows: 5, class: "form-control"%>
      </div>
        <%= f.submit "送信", class: "btn btn-primary btn-block", data: {confirm: "投稿しますか？"} %>
        <% end %>
    </div>
</div>
